{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
  <h4>About QuikBooks</h4>
  <p style="color:white;">
      QuikBooks is a tool to organise your online collection of books.
      It can be used to catalogue your books which are in the form of pdf or torrent for easier access.
      QuikBooks help you to keep track of which books you need the most and provides state of art search facility
      to find books by title or author of the book.
  </p>
  <p style="color:white;">
      QuikBooks uses LibGen Search API to provide search for books.
  </p>
{% endblock %}