<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.2/js/dataTables.bootstrap4.min.js"></script>

        <link href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" rel="stylesheet"/>
        <link href="https://cdn.datatables.net/1.10.2/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>


        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <title>QuikBooks{% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><span class="blue">Q</span><span class="red">u</span><span class="yellow">i</span><span class="green">k</span><span class="blue">B</span><span class="red">o</span><span class="yellow">o</span><span class="green">k</span><span class="blue">s</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/search">Search</a></li>
                        <li class="nav-item"><a class="nav-link" href="/library">Library</a></li>
                        <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">About<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/about/about_quikbooks">About QuikBooks</a>
                            <a class="dropdown-item" href="/about/getting_started">Getting Started</a>
                            <a class="dropdown-item" href="/about/get_involved">Get Involved</a>
                        </div>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Settings<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/settings/profile">Profile</a>
                            <a class="dropdown-item" href="/settings/account">Account</a>
                        </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">About<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/about/about_quikbooks">About QuikBooks</a>
                            <a class="dropdown-item" href="/about/getting_started">Getting Started</a>
                            <a class="dropdown-item" href="/about/get_involved">Get Involved</a>
                        </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            Data provided for free by <a href="https://iextrading.com/developer">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a>.</br>
            <a href="https://www.facebook.com/souradip.pal.16" class="fa fa-facebook circle fa-2x"></a>
            <a href="https://github.com/Souradip-sopho" class="fa fa-github circle fa-2x"></a>
            <a href="https://in.linkedin.com/in/souradip-pal" class="fa fa-linkedin circle fa-2x"></a>
            <a href="https://twitter.com/souradip_pal96" class="fa fa-twitter circle fa-2x"></a>
        </footer>

    </body>

</html>
