{% extends "layout.html" %}

{% block title %}
    Search Books
{% endblock %}

{% block main%}
    {% if username %}
        <h1>Hello <i style="font-family:Comic Sans MS;">{{ username }}</i>! Welcome to QuikBooks !</h1>
    {% else %}
        <h2>Welcome to QuikBooks !</h2></br>
    {% endif %}
    <h2>Search for books by Title/Author</h2>
    <h5>Search by : </h5>
    <form action="{{ url_for('search') }}" method="post">
        <div>
            <input type="radio" name="options" value="title" required><span style="color:white;"> Title </span></input>&nbsp;
            <input type="radio" name="options" value="author" required> <span style="color:white;">Author </span></input>
        </div></br>
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="book" placeholder="Title/Author" type="text" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Search</button>
            </div>
        </fieldset>
    </form>
    {% if book_details %}
        <h2 style="float:left;">Search Results: </h2>
        <div>
          <table id="searchTable" class="table table-striped table-bordered hover" style="background-color:white;border-radius:5px;border-collapse: separate;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Language</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Pages</th>
                <th>Magnet Link</th>
                <th>PDF Link</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for book_detail in book_details%}

            <tr>
                <td>{{book_detail["id"]}}</td>
                <td>{{book_detail["title"]}}</td>
                <td>{{book_detail["author"]}}</td>
                <td>{{book_detail["language"]}}</td>
                {% if book_detail["publisher"] %}
                    <td>{{book_detail["publisher"]}}</td>
                {% else %}
                    <td>&mdash;</td>
                {% endif %}
                {% if book_detail["year"] %}
                    <td>{{book_detail["year"]}}</td>
                {% else %}
                    <td>&mdash;</td>
                {% endif %}
                {% if book_detail["pages"] %}
                    <td>{{book_detail["pages"]}}</td>
                {% else %}
                    <td>&mdash;</td>
                {% endif %}
                {% if md5[book_detail["id"]] %}

                    <td><a href="http://booksdescr.org/book/index.php?md5={{md5[book_detail["id"]]}}&oftorrent">Link</a></td>
                    <td><a href="http://libgen.io/get.php?md5={{md5[book_detail["id"]]}}">Link</a></td>
                {% else %}
                    <td>Link</td>
                    <td>Link</td>
                {% endif %}
                <td><button id={{book_detail["id"]}} type="button" class="btn btn-success">Add</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <h2>No books available!</h2>
        <h2>Books already in Library !</h2></br>
    {% endif %}
{% endblock%}