{% extends "layout.html" %}

{% block title %}
    Getting Started
{% endblock %}

{% block main %}
  <h4>Getting Started</h4>
  <p style="color:white;">
    QuikBooks is the best tool to organize your private collection of books.
    To create your own library, register <a href="/register">here</a> or to manage your library, <a href="/login">login</a> to your account.
    Search for books using Title or Author. You can add books or remove books from your collection. All the activities
    are recorded in the library history for your convenience.

  </p>

{% endblock %}