{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
            </thead>
            <tbody>
            {% for i in range(n) %}
            <tr>
                <td>{{history[i]["symbol"]}}</td>
                <td>{{stocks[i]["name"]}}</td>
                <td>{{history[i]["sum(shares)"]}}</td>
                <td>${{stocks[i]["price"]}}</td>
                <td>${{"{:,.2f}".format(stocks[i]["price"]*history[i]["sum(shares)"])}}</td>
            </tr>
            {% endfor %} 
            <tr>
                <td colspan="4">CASH</td>
                <td>${{"{:,.2f}".format(info[0]["cash"])}}</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td><b>${{"{:,.2f}".format(net)}}</b></td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
